* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(210, 46%, 95%);
}

.content {
    width: 75%;
    margin: auto;
    border-radius: 20px;
    height: 500px;
    background-color: white;
    display: flex;
}

.main-image {
    background-image: url("./images/drawers.jpg");
    flex: 0 0 50%;
}

.text-content {
    margin-top: 20px;
    margin-left: 20px;
}
.text-content h1 {
    
    color: hsl(217, 19%, 35%);
}



