@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background-image: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
}

/* hr {
    color: hsl(240, 5%, 91%);
    border-top: 8px solid #bbb;
    border-radius: 5px;
} */

.divider {
    padding-top: 2px;
    margin: 10px auto 10px auto;
    background-color: hsl(240, 5%, 91%);
}

.icon {
    /* background-image: url("./images/illustration-box-desktop.svg"), url("./images/illustration-woman-online-desktop.svg"); */
    position: absolute;
    left: 10%;

}

.icon2 {
   background-image: url("./images/illustration-woman-online-desktop.svg");
   background-repeat: no-repeat;
   min-width: 50%;
}
.question {
    font-size: 1.5rem;
    background-image: url("./images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right;
}


.question:hover {
    color : hsl(14, 88%, 65%);
    cursor: pointer;
}

.title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 40px;
}
.questions-container {
    background-color: white;
    border-radius: 20px;
    margin: 10px auto auto auto;
    display: flex;
    width: 70%;
}